<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <style type="text/css">
        .title {
            font-family: "Noto Sans CJK SC DemiLight", sans-serif;
            text-align: left;
            min-width: 1000px;
            max-width: 1000px;
            border-bottom: 1px black dotted;
        }

    </style>
</head>
<body>
<h3 class="title">关于我</h3>
<p>
<ul>我叫罗周杨，目前在51job任职Android应用开发工程师。平时喜欢接触一些新的技术，偶尔写一写水水的博客。</ul>
</p>
<p>
<ul>如果你愿意和我交流，请加微信 <b>luozhouyang0528</b> ，同时请注明 <b>申请理由</b> ，当然也欢迎邮件交流: <a href="mailto:stupidme.me.lzy@gmail.com">stupidme.me.lzy@gmail.com</a>
</ul>
</p>
<h3 class="title">关于本站</h3>
<p>
<ul>本站使用Go语言，基于<a href="https://github.com/astaxie/beego"><b>beego</b></a>实现。</ul>
</p>
<p>
<ul>本站点的全部代码托管在<a href="https://github.com/StupidL/Gemini"><b>StupidL/Gemini</b></a>。</ul>
</p>
</body>
</html>